img {
    margin-left: 10px;
}

.done {
    text-decoration: line-through;
    color: #a0a0a0
}

.wrapper {
    max-width: 720px!important;
}

.add-todo-form {
    margin-top: 20px;
}

.editing label, .editing .update-todo__btn, .completed .edit-todo__input, .completed .edit_ok__btn {
    display: none !important;
}