html {
    font-family: MicrosoftJhengHei;
    background-color: rgba(237, 221, 212);
}

.wrapper {
    max-width: 650px;
    /*置中*/
    margin: 5% auto;
    padding: 20px 50px;
    background-color: rgba(196, 69, 54, 0.9);
    color: #283D3B;
    border-radius: 10px;

}

.title {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title input {
    border-width: 0 0 2px 0;
    border-color: #283D3B;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: #283D3B;
}

.title input::placeholder {
    color: #283D3B;
}

.list__item {
    min-height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 20px;
    padding: 0 20px;
    cursor: pointer;
    max-width: 570px;
    text-overflow: ellipsis;
}

.list__item:hover {
    background-color: rgba(196, 69, 54, 0.9);
}

.list__item input {
    height: 16px;
    width: 16px;
}

.item__done.content{
    text-decoration:line-through;
}
